In [1]:
import pandas as pd

In [2]:
sub1 = pd.read_csv('../Probabilities/sub1-4_proba.csv')

In [3]:
sub2 = pd.read_csv('../Probabilities/sub2_proba.csv')

In [4]:
label_cols = ['Computer Science', 'Physics', 'Mathematics', 'Statistics', 'Quantitative Biology', 'Quantitative Finance']

# Normal Averaging

In [5]:
df_avg = sub1.copy()

In [6]:
for col in label_cols:
    df_avg[col] = (sub1[col] + sub2[col]) / 2

In [7]:
df_avg.to_csv('../output/avg/avg_proba.csv', index=False)

In [8]:
sub = df_avg.copy()

**Threshold 0.4098**

In [9]:
for col in label_cols:
  sub[col] = sub[col].apply(lambda x:1 if x>0.4098 else 0)

In [10]:
sub.to_csv('../Final Submissions/avg_0.4098.csv', index=False)
#public lb 0.848786828422877

# Weighted Average

In [11]:
w_avg = sub1.copy()

In [12]:
#40% ULMFiT, 60% BERT
for col in label_cols:
    w_avg[col] = sub1[col]*0.4 + sub2[col]*0.6

In [13]:
w_avg.head()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.362470,0.005020,0.227174,0.966786,0.001372,0.002453
1,20974,0.001169,0.997478,0.001285,0.002403,0.000211,0.000151
2,20975,0.951393,0.003768,0.055506,0.083409,0.000269,0.000298
3,20976,0.000652,0.998324,0.000976,0.000842,0.000277,0.000045
4,20977,0.994596,0.001240,0.033050,0.004444,0.000058,0.000099

In [14]:
w_avg.to_csv('../Probabilities/wavg_proba.csv', index=False)

**Threshold 0.4**

In [15]:
sub_w = w_avg.copy()

In [16]:
for col in label_cols:
  sub_w[col] = sub_w[col].apply(lambda x:1 if x>0.40 else 0)

In [17]:
sub_w.to_csv('../Final Submissions/wavg_0.4.csv', index=False)
#public lb 0.849821602335388

# Average ULMFiT BERT RoBERTa

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
sub1 = pd.read_csv('../Probabilities/sub1-4_proba.csv')
#thresh 0.44 public lb 0.839035087719298

In [3]:
sub2 = pd.read_csv('../Probabilities/sub2_proba.csv')
#thres 0.42 public lb 0.845168295331162

In [4]:
sub3 = pd.read_csv('../Probabilities/sub3_proba.csv')
#thresh 0.4 public lb 0.835811177428106

In [5]:
avg_3 = sub1.copy()

In [6]:
label_cols = ['Computer Science', 'Physics', 'Mathematics', 'Statistics', 'Quantitative Biology', 'Quantitative Finance']

In [7]:
for col in label_cols:
    avg_3[col] = (sub1[col] + sub2[col] + sub3[col]) / 3

In [8]:
avg_3.to_csv('../Probabilities/avg3_proba.csv', index=False)

In [9]:
df_avg3 = avg_3.copy()
for col in label_cols:
    df_avg3[col] = df_avg3[col].apply(lambda x: 1 if x>0.461 else 0)
df_avg3.to_csv(os.path.join('../Final Submissions', 'avg3_0.461.csv'), index=False)
# thresh 0.461 public lb 0.851214911794075

# Weighted Average of all 3 models

In [1]:
import os
from tqdm import tqdm
import numpy as np
import pandas as pd

In [2]:
sub1 = pd.read_csv('../Probabilities/sub1-4_proba.csv')
#thresh 0.44 public lb 0.839035087719298

In [3]:
sub2 = pd.read_csv('../Probabilities/sub2_proba.csv')
#thres 0.42 public lb 0.845168295331162

In [4]:
sub3 = pd.read_csv('../Probabilities/sub3_proba.csv')
#thresh 0.4 public lb 0.835811177428106

In [5]:
sub1.head(2)

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.261549,0.003867,0.177423,0.971942,0.002118,0.004429
1,20974,0.000949,0.996128,0.001243,0.004632,0.000048,0.000280

In [7]:
sub2.head(2)

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.429751,0.005789,0.260341,0.963349,0.000875,0.001135
1,20974,0.001316,0.998377,0.001312,0.000917,0.000320,0.000065

In [8]:
sub3.head(2)

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.643425,0.012784,0.139534,0.894663,0.010055,0.009023
1,20974,0.019856,0.981392,0.018401,0.019651,0.017201,0.016550

In [9]:
w_avg3 = sub1.copy()

In [10]:
label_cols = ['Computer Science', 'Physics', 'Mathematics', 'Statistics', 'Quantitative Biology', 'Quantitative Finance']

In [11]:
for col in label_cols:
    w_avg3[col] = sub1[col]*0.35 + sub2[col]*0.45 + sub3[col]*0.2

In [23]:
w_avg3.head(15)

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0.413615,0.006515,0.207158,0.952619,0.003146,0.003865
1,20974,0.004895,0.994193,0.004706,0.005964,0.003601,0.003437
2,20975,0.950610,0.006659,0.082086,0.079222,0.002172,0.002304
3,20976,0.004772,0.994658,0.003849,0.004889,0.004456,0.003151
4,20977,0.990265,0.007809,0.044454,0.008036,0.002480,0.002153
5,20978,0.074759,0.013954,0.429756,0.952675,0.026850,0.004121
6,20979,0.014004,0.008297,0.916734,0.967967,0.007372,0.012994
7,20980,0.192648,0.953559,0.003392,0.149777,0.006820,0.002391
8,20981,0.990195,0.015307,0.004289,0.041309,0.008357,0.002633
9,20982,0.005398,0.995218,0.003738,0.004668,0.004039,0.003180
10,20983,0.167794,0.859287,0.049058,0.021862,0.080494,0.005364
11,20984,0.964791,0.006641,0.002054,0.196638,0.003398,0.001722
12,20985,0.019230,0.151291,0.957223,0.002739,0.001621,0.001939
13,20986,0.833371,0.033997,0.069679,0.065567,0.017934,0.019540
14,20987,0.432865,0.202375,0.071232,0.703688,0.015333,0.005078

In [20]:
w_avg3.tail()

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
8984,29957,0.957866,0.048475,0.055686,0.007521,0.003255,0.001744
8985,29958,0.442830,0.004400,0.894893,0.142046,0.003242,0.007768
8986,29959,0.233123,0.049257,0.015175,0.449962,0.745590,0.006350
8987,29960,0.138303,0.008165,0.161593,0.967341,0.005060,0.005939
8988,29961,0.716392,0.005877,0.591087,0.012680,0.001921,0.001510

In [13]:
w_avg3.to_csv('../Probabilities/w_avg3_proba.csv', index=False)

In [15]:
df_45 = w_avg3.copy()
for col in label_cols:
    df_45[col] = df_45[col].apply(lambda x: 1 if x>0.45 else 0)
df_45.to_csv(os.path.join('../Final Submissions', 'w_avg3_0.45.csv'), index=False)
# public lb 0.851851851851852

## Try ranges of thresholds between 0.45 to 0.46

In [16]:
def try_thres(t_range, df, label_cols):
    
    for thresh in tqdm(t_range):
        df_t = df.copy()
        for col in label_cols:
            df_t[col] = df_t[col].apply(lambda x: 1 if x>thresh else 0)
        df_t.to_csv(os.path.join('../Final Submissions', 'w_avg3_'+str(thresh)+'.csv'), index=False)

In [17]:
t_range_45 = np.linspace(0.451, 0.46, 10)
t_range_45

array([0.451, 0.452, 0.453, 0.454, 0.455, 0.456, 0.457, 0.458, 0.459,
       0.46 ])

In [18]:
try_thres(t_range_45, w_avg3, label_cols)

100%|██████████| 10/10 [00:00<00:00, 23.99it/s]

In [19]:
#thresh 0.458 public lb 0.852596685082873

# Voting Classifier ( Public LB: 0.85281 Private LB: 0.84937)

In [24]:
#BERT
sub2_best = pd.read_csv('../Final Submissions/sub2-0.42.csv')
#thres 0.42 public lb 0.845168295331162

In [25]:
#0.4 ULM 0.6 BERT
w_avg2 = pd.read_csv('../Final Submissions/wavg_0.4.csv')
#thresh 0.4 public lb 0.849821602335388

In [26]:
#0.35 ULM 0.45 BERT 0.20 RoBERTa
w_avg3 = pd.read_csv('../Final Submissions/w_avg3_0.458.csv')
#thresh 0.458 public lb 0.852596685082873

In [27]:
#avg all 3
avg3 = pd.read_csv('../Final Submissions/avg3_0.461.csv')
#thresh 0.461 public lb 0.851214911794075

In [28]:
voter = avg3.copy()

In [31]:
for col in label_cols:
    voter[col] = sub2_best[col] + w_avg2[col] + avg3[col] + w_avg3[col]

In [32]:
for col in label_cols:
    voter[col] = voter[col].apply(lambda x: 1 if x>2 else 0)

In [33]:
voter.to_csv('../Final Submissions/voter.csv', index=False)
#public 0.852807619891461